@model ManageAllMenusViewModel
@{ }

<h2>Manage All Menus</h2>
<hr />
<br />

<form asp-action="ManageAllMenus" asp-controller="Admin"
      asp-area="Admin" method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Menu Name</th>
                <th>Active Menu</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AllMenus.Count; i++)
                    {
                        var menu = Model.AllMenus[i];
                <tr>
                    <td>
                       <input asp-for="AllMenus[i].MenuName" class="form-control" type="text" readonly="readonly" />
                    </td>
                    <td>
                        <is-active-menu current-menu="menu" />
                    </td>
                    <td>
                        <a asp-action="ManageSingleMenu" asp-area="Admin"
                           asp-route-menuName="@menu.MenuName"
                           asp-controller="Admin" class="btn btn-success">Manage Menu</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Submit Changes" class="btn btn-lg btn-primary" />
                </td>
            </tr>
        </tfoot>
    </table>

</form>