@model Menu

<div class="jumbotron menu-landing-header">
    <h1 class="display-2 text-center">Quality Tech, Quality Food</h1>
</div>

<div class="container">
    @foreach (var cat in Model.Categories)
    {
        @Html.Partial("FoodCategoryPartialView", cat)
    }
</div>