<div class="jumbotron menu-landing-header">
    <h1 class="display-2 text-center">Quality Tech, Quality Food</h1>
</div>


<div class="text-center border-bottom p-3 card-header bg-light">
    <h2 class="display-5">Sandwiches/Sand-witches</h2>
</div>
<div class="row mx-0">
    @for (int i = 1; i <= 6; i++)
    {
        <div class="col-md-6 col-lg-4 px-4 my-4">
            <div class="card">
                <h3 class="card-header text-center">
                    Sandwich #@i
                </h3>
                <div class="card-body">
                    <ul class="card-body">
                        <li class="list-group-item">Looks great</li>
                        <li class="list-group-item">Made out of plants</li>
                        <li class="list-group-item">Tested in outer space</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<div class="text-center border-bottom p-3 card-header bg-light">
    <h2 class="display-5">Salads</h2>
</div>
<div class="row mx-0">
    @for (int i = 1; i <= 6; i++)
    {
        <div class="col-md-6 col-lg-4 px-4 my-4">
            <div class="card">
                <h3 class="card-header text-center bg-light">
                    Salad #@i
                </h3>
                <div class="card-body">
                    <ul class="card-body">
                        <li class="list-group-item">Looks better than a sandwhich</li>
                        <li class="list-group-item">Made out of plants</li>
                        <li class="list-group-item">Tested on the moon</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
