

<div class="container">
    <div class="jumbotron">
        <h1 class="display-2 pb-4">Sorry :(</h1>
    </div>
    <div class="text-danger">
        <h3>We're very sorry about this, but there has been an internal error and your 
        order could not be received. Please give us a call to place your order ahead of time.</h3>
    </div>
</div>