
<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>RestaurantEnSee</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/r-ensee-styles.css" rel="stylesheet" asp-append-version="true" /> 
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-light-gray py-2 sticky-top mb-3 mr-0">
        <div class="container">
            <a class="navbar-brand p-3 mx-0 px-0" href="#">
                <span class="h3 text-dark">R-EnSee</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse justify-content-end pt-3 pb-1 h5">
                <ul class="navbar-nav justify-content-end mr-5 pr-lg-4 pr-xl-2">
                    <li class="nav-item dropdown px-3">
                        <a href="#" class="text-dark">Menu</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#" class="text-dark">About</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#" class="text-dark">Locations</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        @RenderBody()
    <footer class="jumbotron-fluid mr-0 bg-very-dark mt-5">
        <div class="container">
            <div class="row pt-5">
                <div class="col-sm-4 offset-sm-2">
                    <h5 class="text-white">Restaurant-EnSee</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Order</a></li>
                        <li><a href="#">See Our Menu</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5 class="text-white">Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Nutritional Info</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/dist/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>